[submodule "dotbot"]
	path = submodules/dotbot
	url = git@github.com/anishathalye/dotbot
	ignore = dirty
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
